.bordercol{
    border:4px solid rgb(14, 7, 119);
  }
  
  .white{
    color: white;
  }
  .red{
    background-color: #9df3c2;
  }
    body{
    font-family: Source Sans Pro,sans-serif;
    font-size: 25px;color:rgb(14, 7, 119);
    }
    table
    {
    background-color:#bec6d4;
    margin:auto;
    border: 2px solid #344861 !important;
    color:rgb(14, 7, 119);
    border-collapse: collapse;
    padding: 0px; 
    }
    .top{
    border-top: 2px solid #344861 !important;
    }
    td:nth-child(3){
    border-right: 2px solid #344861 !important;    
    }
    td:nth-child(6){
    border-right: 2px solid #344861 !important;    
    }
    tr,td{
    margin:0px;
    padding:0px;
    }
    input{
    border: 1px solid #bec6d4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    width: 60px;
    height: 60px;
    vertical-align: middle;
    text-align: center;
    user-select: none;
    font-size: 25px;
    background-color: white;
    color:rgb(14, 7, 119);
    }
    .predefined{
    background-color: #bec6d4;
    }
    input:hover{
    background-color: #99badd;
    }
    .disable{
    background-color: #AFEEEE !important;
    border:1px solid #bec6d4;
    }
   .disable{
   opacity: 0.5 !important; 
   cursor: not-allowed;
   }
  .changerow{
   background-color:green; 
  }
  .changevalidboxes{
    background-color:#F3A360;
  }


  button{
    width:150px;
    height:50px;
  margin-bottom: 20px;}
  .flex
  {display:flex;
    justify-content: space-evenly;
   
  }
  h1{text-align: center;}